/* Sidebar menu toggle */
#menu-toggle {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#menu-toggle div {
    background: black;
    flex: 1;
    margin: 7% 0;
    transition: ease all .5s;
}

body.menu-open #menu-toggle div {
    background: red;
}

body.menu-open #menu-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
    z-index: 
}

aside {
    height: 100vh;
    overflow-y: auto;
    background: white;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    transition: ease left .5s;
}

body.menu-open aside {
    left: 0;
}